<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Index</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    <div class="box">
        <div class="sub-box">
            <p>Megna tempus sed amet aliquam veroeros</p>
            <p class="subbox-2para">Its is a long established fact that a reader will
                be distracted by the readable content of a page when looking 
                at its layout
            </p>
            <button>More</button>
        </div>
        <div class="sub-box">
            <p>Megna tempus sed amet aliquam veroeros</p>
            <p class="subbox-2para">Its is a long established fact that a reader will
                be distracted by the readable content of a page when looking 
                at its layout
            </p>
            <button>More</button>
        </div>
        <div class="sub-box">
            <p>Megna tempus sed amet aliquam veroeros</p>
            <p class="subbox-2para">Its is a long established fact that a reader will
                be distracted by the readable content of a page when looking 
                at its layout
            </p>
            <button>More</button>
        </div>
    </div>

    <div class="team-container">
        <div class="team-container-text">
            <p>Team Member</p>
        </div>
        <div class="team-container-des">
            <p>Megna tempus sed amet</p>
        </div>
        <div class="team-container-founder">
            <div class="founder-container">
                <p>Marima</p>
                <p>Co-founder</p>
            </div>
            <div class="founder-container">
                <p>Marima</p>
                <p>Co-founder</p>
            </div>
            <div class="founder-container">
                <p>Marima</p>
                <p>Co-founder</p>       
            </div>
            <div class="founder-container">
                <p>Marima</p>
                <p>Co-founder</p>
            </div>
        </div>
    </div>
</body>
</html>