<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    <div class="container">
         <div class="sub-container">
                <div class="sub-sub-container">
                    <div class="vertical-con">
                        <div class="vertical-con-1">
                            <img src="css/images/r.png" alt="no image">
                            <div class="sub-con-wel">
                                <p>Welcome</p>
                                <div class="sub-con-des">
                                    <p>to the complete MERN</p>
                                </div>
                                <div class="sub-con-des">
                                        <p>Backend course</p>
                                </div>
                            </div>

                        </div>
                        <div class="sub-con-btn">
                            <button>Register</button>
                        </div>
                    </div>
                </div>
         </div>
         <div class="sub-container">
            <div class="button-container">
                <button>Registration</button>
                <button>Login</button>
            </div>
            <div class="form-container">
                <p>Employee Login Form</p>
                <div>
                    <form action="">

                    
                      <div class="sub-form-div">
                            <div><input type="text" placeholder="First Name*"></div>
                            <div><input type="text" placeholder="Password*"></div>
                      </div>
                      <div class="sub-form-div">
                            <div><input type="text" placeholder="Last Name*"></div>
                            <div><input type="text" placeholder="Confirm Password*"></div>
                      </div>
                      <div class="sub-form-div">
                            <div><input type="text" placeholder="Email*"></div>
                            <div><input type="text" placeholder="Address*"></div>
                      </div>
                      <div class="sub-form-div">
                            <div><input type="text"placeholder="Phone*"></div>
                            <div><input type="submit" value="Login"></div>
                      </div>
                    </form>
                </div>
            </div>
         </div>
    </div>
</body>
</html>