<nav class="nav-container">
    <div class="first-nav">
          <div class="first-nav-text">
            Thapa Technical
          </div>
          <ul class="first-nav-options">
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
          </ul>
    </div>
    <div class="welcome-txt">
        <p>Welcome to MERN BackEnd Course</p>
    </div>
    <div class="best-text">
        <p>The Best Course on Youtube </p>
    </div>
</nav>